.create{
  width: 100%;
  height: 40px;
  text-align: justify;
  font-size: 1.2em;
  background-color: white;
  white-space:normal;
}

.detail{
  height: 40px;
  text-align: justify;
  font-size: 1.2em;
  white-space:normal;
}

.delete{
  height: 40px;
  text-align: justify;
  font-size: 1.2em;
  white-space:normal;
}

.height{
    height: 30px;
}