<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Documentation </title>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <script>
         $(function() {
            $( "#accordion-2" ).accordion({
               collapsible: true
            });
         });
    </script>

    <style>
        #accordion-2 {
            font-size: 14px;
        }
    </style>
</head>

<body>
    <div id="accordion-2">
        <h3>Author Detail</h3>
            <table id="tabledocument">
                <tr>
                    <td width="200">name: </td>
                    <td width="455">Moon Byeong Kim</td>
                </tr>
                <tr>
                    <td>Student ID: </td>
                    <td>26389126</td>
                </tr>
                <tr>
                    <td>Unit name: </td>
                    <td>Internet applications development</td>
                </tr>
                <tr>
                    <td>Unit provider: </td>
                    <td>Monash University, <br /> The Caulfield School of Information Technology</td>
                </tr>
                <tr>
                    <td>Task number: </td>
                    <td>10.1</td>
                </tr>
                <tr>
                    <td>Tutor name: </td>
                    <td>Heaven Hu</td>
                </tr>
                <tr>
                    <td>Email link to an author: </td>
                    <td><a href="mailto:mbkim1@student.monash.edu">mbkim1@student.monash.edu</a></td>
                </tr>
                <tr>
                    <td>Link to Task specification: </td>
                    <td><a href="http://moodle.vle.monash.edu/mod/page/view.php?id=4383448">link to assignment specification</a></td>
                </tr>
            </table>
        <h3>Image Details</h3>
        <div>
            <table class="image">
                <tr>
                    <td align="center">Images</td>
                    <td align="center">Author</td>
                </tr>
                <tr>
                    <td><img class="small" src="~/Content/image/goblin.jpeg" width="150" height="100" /></td>
                    <td>
                        TVN <BR />
                        http://program.tving.com/tvn/dokebi/14/Board/List
                    </td>
                </tr>
                <tr>
                    <td><img class="small" src="~/content/image/goblin3.png" width="150" height="100" /></td>
                    <td>
                        TVN <br />
                        http://program.tving.com/tvn/dokebi/14/Board/List
                    </td>
                </tr>
                <tr>
                    <td><img class="small" src="~/content/image/goblin4.jpg" width="150" height="100" /></td>
                    <td>
                        TVN <br />
                        http://program.tving.com/tvn/dokebi/14/Board/List
                    </td>
                </tr>
                <tr>
                    <td><img class="small" src="~/content/image/goblin5.jpg" width="150" height="100" /></td>
                    <td>
                        TVN <br />
                        http://program.tving.com/tvn/dokebi/14/Board/List
                    </td>
                </tr>
                <tr>
                    <td><img class="small" src="~/content/image/goblin6.jpg" width="150" height="100" /></td>
                    <td>
                        TVN <br />
                        http://program.tving.com/tvn/dokebi/14/Board/List
                    </td>
                </tr>
                <tr>
                    <td><img class="small" src="~/content/image/goblin8.jpg" width="150" height="100" /></td>
                    <td>
                        TVN <br />
                        http://program.tving.com/tvn/dokebi/14/Board/List
                    </td>
                </tr>
                <tr>
                    <td><img class="small" src="~/content/image/goblin9.jpg" width="150" height="100" /></td>
                    <td>
                        TVN <br />
                        http://program.tving.com/tvn/dokebi/14/Board/List
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>