@model List<Assignment_Di.Models.ImageGallery>

@{
    ViewBag.Title = "Gallery";
}
<br />
<h2>Gallery</h2>
<br />
@*<p>
    @Html.ActionLink("Upload New", "Upload")
</p>*@
@*Here I will show Uploaded Images*@
<table class="table">
    @{
        int j = 0;
        for (int i = 0; i < Model.Count(); i += 4)
        {
            j = i;
            <tr>
                @* I have done this for show 4 images in a Row*@
                @while (j < i + 4 && j < Model.Count())
                {
                    <td>
                        <img src="data:image/png;base64,@Convert.ToBase64String(Model[j].ImageData,0,Model[j].ImageData.Length)" width="100" />
                    </td>
                    j++;
                }
            </tr>
        }
    }

</table>
